<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment">
</header>
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <div th:replace="admin/header::header-nav"></div>
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">首页配置管理</h3>
                    </div>
                    <div class="card-body">
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="configAdd()">
                                <img th:src="'/images/admin/add.png'" alt="" style="height: 18px;width: 18px">
                                &nbsp;新增
                            </button>
                            <button class="btn btn-info" onclick="configEdit()">
                                <img th:src="'/images/admin/change.png'" alt="" style="height: 18px;width: 18px">
                                &nbsp;修改
                            </button>
                            <button class="btn btn-danger" onclick="deleteConfig()">
                                <img th:src="'/images/admin/delete.png'" alt="" style="height: 18px;width: 18px">
                                &nbsp;删除
                            </button>
                        </div>
                        <br>
                        <table id="jqGrid" class="table table-bordered">
                        </table>
                        <div id="jqGridPager"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="modal fade" id="indexConfigModal" tabindex="-1" role="dialog"
                 aria-labelledby="indexConfigModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="categoryModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="indexConfigForm">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        错误信息展示栏。
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" id="indexConfigModaconfigId" name="indexConfigModaconfigId">
                                <input type="hidden" id="configType" th:value="${configType}">
                                <div class="form-group">
                                    <label for="configName" class="control-label">配置项显示字符:</label>
                                    <input type="text" class="form-control" id="configName" name="configName"
                                           placeholder="请输入配置项显示字符" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="configTutorId" class="control-label">对应教师编号:</label>
                                    <input type="text" class="form-control" id="configTutorId" name="redirectUrl"
                                           placeholder="请输入对应教师编号" value="##">
                                </div>
                                <div class="form-group">
                                    <label for="configSubId" class="control-label">对应课程编号:</label>
                                    <input type="text" class="form-control" id="configSubId" name="redirectUrl"
                                           placeholder="请输入对应课程编号" value="##">
                                </div>
                                <div class="form-group">
                                    <label for="configRank" class="control-label">排序值:</label>
                                    <input type="number" class="form-control" id="configRank" name="configRank"
                                           placeholder="请输入排序值">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/admin/adminlte.min.js}"></script>
<script th:src="@{/plugins/jqgrid-5.5.2/jquery.jqGrid.min.js}"></script>
<script th:src="@{/plugins/jqgrid-5.5.2/grid.locale-cn.js}"></script>
<script th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/js/admin/public.js}"></script>
<script th:src="@{/js/admin/adminIndexConfig.js}"></script>
</body>
</html>
