body {
    width: 1920px;
    height: 1080px;
}

.c-t-content {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.c-t-content-left {
    float: left;
    width: 20%;
    padding-right: 5%;
}

.c-t-content-right {
    flex: 1;
}

.list-title {
    border-bottom-color: rgb(206, 220, 228);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 8px;
    font-size: 20px;
    color: black;
    font-weight: 700;
}

.collect-item {
    display: inline-block;
    width: 230px;
    background-color: rgb(246, 249, 251);
    margin-right: 30px;
    margin-top: 10px;
}
.item-pic{
    display: flex;
}
.pic {
    width: 220px;
    height: 150px;
    object-fit: scale-down;
}
.item-name {
    font-size: 20px;
    text-align: center;
}
.item-sub{
    font-size: 18px;
    margin-top: 3px;
    text-align: center;
}

.page-selector {
    height: 30px;
    padding: 15px 0;
    text-align: center;
}
.page-selector .numbers {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 48px;
    height: 24px;
    padding: 3px 0;
    margin: 0 7px;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    color: #b0b0b0;
}

.page-selector a.numbers {
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.page-selector a.numbers:hover {
    background: #b0b0b0;
    color: #fff
}
.delete-item {
    color: #2476f7;
    cursor: pointer;
    height: 18px;
    width: 20px;
}
.delete-item:hover {
    color: gray; /* 设置鼠标悬停时的颜色为灰色 */
}
.img-jump {
    text-decoration: none;
    color: black;
}